@import url("css/reset.css");

html {
	scroll-behavior: smooth;
}

body {
  color: #252525;
  font-family: 'Urbanist',Verdana, Geneva, Tahoma, sans-serif;
  background-color: #FBFBFD;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 40px;
}

.nav a {
  font-size: 1.3em;
  padding: 10px 10px;
  margin-left: 10px;
  transition: all ease 0.2s;
}

.nav a:hover {
  color: #FBFBFD;
  background-color: #252525;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0;
}

.greeting {
  max-width: 500px;
}

.greeting h1 {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 20px;
}

.greeting p {
  font-size: 1.5em;
  line-height: 1.2em;
  margin-top: 20px;
}

.btn {
  font-size: 1.3em;
  padding: 10px 10px;
  margin-top: 30px;
  cursor: pointer;
  transition: all ease 0.2s;
}

.btn:hover {
  color: #FBFBFD;
  background-color: #252525;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos img {
  margin: 0 20px;
  transition: all ease 0.2s;
}

.logos img:hover {
  transform: scale(120%);
}

.portfolio {
  margin-top: 80px;
}

.portfolio h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.portfolio p {
  font-size: 1.5em;
  line-height: 1.2em;

}

.portfolio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.portfolio-item img {
  width: 60%;
}

#contact {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

#contact p {
  font-size: 1.5em;
}

#contact h2 {
  font-size: 2em;
  margin: 40px 0 20px 0;
}

#contact img {
  width: 3%;
}

#contact a {
  font-size: 1.2em;
  margin: 5px 0;
}

#contact a:hover {
  font-weight: bold;
}

.contact-option {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-option img {
  margin-right: 10px;
}

.footer {
  text-align: center;
  color: #FBFBFD;
  background-color: #252525;
  margin-top: 20px;
  padding: 40px ;
}


@media (max-width: 739px) {

  .container {
    max-width: 380px;
    padding: 0 20px;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .greeting h1 {
    font-size: 2.2em;
  }

  .greeting p {
    font-size: 1.2em;
  }

  .btn {
    margin-bottom: 20px;
  }

  .portfolio {
    margin-top: 80px;
  }

  .portfolio h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .portfolio p {
    font-size: 1.2em;
  }
  
  .portfolio-item {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .portfolio-call {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  #contact img {
    width: 5%;
  }

  #contact a {
    font-size: 1.3em;
  }

  #contact a:hover {
    font-weight: bold;
  }

}
